* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
}

.header-container {
    background-color: #1f2937;
    padding: 25px 0 0 0;
    display: flex;
    justify-content: center;
    
}

header {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    width: 1000px;
}

header a {
    color: #E5E7EB;
}

header a:visited {
    color: #E5E7EB;
}

.header-link-one {
    margin-left: auto;
    text-decoration: none;
}

.header-link-two, .header-link-three {
    margin-left: 25px;
    text-decoration: none;
}

.hero-container {
    background-color: #1f2937;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 80px 0;
}

.hero {
    width: 1000px;
    display: flex;
    align-items: center;
}

.hero-left-container {
    width: 500px;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 20px;
}

.button {
    background-color: #3882F6;
    color: white;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 10px;
    margin-top: 20px;
    font-weight: bold;
}

.random-info-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    padding: 50px 0;
}

.random-info-container {
    display: flex;
    justify-content: center;
    padding-bottom: 70px;
}

.random-images-container {
    width: 850px;
    display: flex;
    justify-content: space-between;
}

.image-border-radius {
    width: 180px;
    height: 180px;
    border-radius: 20px;
    overflow: hidden;
}

.random-images p {
    width: 180px;
    padding-top: 10px;
    text-align: center;
}

.quote-section-container {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.quote-container {
    width: 700px;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
    text-align: center;
}

.quotee {
    text-align: right;
    font-size: 18px;
    font-weight: bold;
}